*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, .dish-name, .price, nav a {
    font-family: 'Roboto Slab', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: tomato;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color .3s;
}

nav a:hover { color: tomato; }
nav a#active {
    color: tomato;
    font-weight: 700;
    pointer-events: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

section {
    margin-bottom: 40px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
    color: #222;
    border-bottom: 3px solid tomato;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    margin-top: auto;

}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;        
    text-align: left;
}

footer p {
    margin: 4px 0;
    font-size: 1.05rem;
    line-height: 1.6;
}

footer a {
    color: tomato;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s;
}

footer a:hover {
    text-decoration: underline;
    color: #ff8566;
}

/* адаптив шапки */
@media (max-width: 800px) { nav { justify-content: space-between; } }
@media (max-width: 600px) {
    h1 { text-align: center; }
    nav { flex-direction: column; align-items: center; }
    nav a { font-size: 1.3rem; }
}